{% extends 'layouts/base.html' %}

{% block title %} Yabbi {% endblock %}
{% block meta_description %} Yet Another Baddass BIovis {% endblock %}

{% block body %}
  <div align="center">
    <h1>Yabbi</h1><br />
    <div class="container sm-margin-top">
      <div class="container">
        <div >
          <div id="threedvis"> </div>
          <br />
          <div id="line-chart"> </div>
          <div id="box-plot"></div>
        </div>
      </div>
    </div>
    <br /><br />
  </div>

{% endblock %}
