<!DOCTYPE html>
<html>
  <head>
  </head>
  <body onload="LinePlotLoad(); LinePlotAnimate();">
    <div id="LinePlotDiv"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/96/three.min.js" ></script>
    <script
          src="LinePlot.js">
    </script>
    <script>


    function LinePlotAnimate(t) {
      index = (index + 1) % bufferLength;
      LinePlotDraw();
      window.requestAnimationFrame(LinePlotAnimate);
      //console.log(window);
    }

    </script>
  </body>
</html>
